body{
    background-color: rgb(17, 17, 17);
    max-width: 1920px;
    margin: 0 auto;
    padding: 0px;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;}

.navb{
    padding: 8px 16px;
    border-radius: 20px;
    align-items: center;
}



.nav{
    margin:0;
    
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}



.ul-nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.nav ul li{
 margin-left:30px;
list-style-type: none;
}
    
.container{
 display: flex;  
 flex-direction: row;   
 justify-content: space-between;  
 gap:10px;
 margin: 10px;
 margin-top: 0px;
    }
.left-side{
    background-color: rgb(26, 25, 25);
    border-radius: 15px;
    flex:1;
    max-height: 560px;
}
.left{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap:5px;
}
.right-side{
    padding-left:10px;
    background-color: rgb(26, 25, 25);
    border-radius:15px;
    flex:8;
    overflow-y: scroll;
    max-height: 560px;

}
.albums{
    display: flex;
    gap:10px;
    margin-left: 20px;
}
.albums img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.albums p{
    text-align: Left;
}

p{
    margin:5px;
}
p.album{
    font-weight: bold;
    font-size: 16px;
}
p.artist{
    font-size:15px;
    
}
footer{
    background-color: rgb(170, 7, 170);
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-radius:15px;
    align-items: center;
}
footer button{
    margin-right: 20px;
    border-radius:20px;
    padding: 10px 10px;
    
}
footer p{
    margin-left: 20px;
}